body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#letterInput {
    margin-bottom: 20px;
}

#scrabbleTiles {
    margin-bottom: 20px;
}

.tile {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background-color: #f1c40f;
    margin: 5px;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

.tile sub {
    font-size: 0.6em;
    vertical-align: baseline;
    position: relative;
    top: 5px; /* Increase this value to move it lower */
}

#answerColumns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: left;
}

#answerColumns > div {
    width: 30%;
    word-wrap: break-word;
}

#correctAnswers div {
    color: darkgreen;
    margin-bottom: 5px;
}

#wrongAnswers div {
    color: darkred;
    margin-bottom: 5px;
}

#remainingAnswers div {
    color: purple;
    margin-bottom: 5px;
}

#answerColumns div > div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#correctAnswersContainer {
    width: 100%;
    margin-bottom: 20px; /* Space between correct and revealed answers */
}

#correctAnswers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#remainingAnswersContainer {
    width: 100%;
    margin-top: 20px; /* Space between correct and revealed answers */
}

#remainingAnswers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.correct-word-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding: 5px;
    min-width: 60px;
}

.revealed-word-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding: 5px;
    min-width: 60px;
}
